*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    justify-items: center;
    background:darkgrey;
    align-content: center;
}

#card{
    width: 25%;
    height: 80%;
    justify-items: center;
    align-content: center;
    gap: 30px;
}

label{
    font-size: 20px;
    margin-right: 20px;
}

input{
    font-size: 18px;
}
